@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Tourney:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Tourney:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* background-color:#000; */
}



.navbar {
    background-color: transparent;
    position: fixed;
    height: 50px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 70px;
    /* padding-top: 20px; */
    /* box-shadow: 0 0 5px 2px #888888; */
}

.navbar nav {
    display: flex;
    gap: 70px;
    font-size: 18px;
    color: white;
}

.navbar nav a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;

}

.navbar nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar nav a:hover::after {
    width: 100%;
}

.first-section {
    height: 710px;
    background-image: url(/First-sectionwp.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.72);
}

/* .wallpaper {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
} */

.intro-left {
    /* background-color: rgba(0, 0, 0, 0.4); */
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Tourney', sans-serif;
    opacity: 0;
    transform: translateX(-800px);
    transition: opacity 1s, transform 1s;
}

.intro-left.active {
    opacity: 1;
    transform: translateX(20px);
}


@keyframes bounce {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}

.button {
    margin-top: 30px;
    font-size: 80px;
    color: white;
    animation: bounce 2s infinite;
    cursor: pointer;
}

.name {
    font-size: 50px;
}

.name span {
    color: rgb(117, 168, 54);
}

.about-section {
    height: 660px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.about-flex {
    display: flex;
}

.about-text {
    margin: 70px;
    color: black;
    font-size: 17px;
}

.profile-pic {
    margin: 20px;
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 55px;
    font-family: 'Caveat', cursive;
}

#dynamic-text {
    border-right: 2px solid #000;
    padding-right: 5px;
    color: rgba(56, 95, 9, 0.97);
}

.project-section {
    height: auto;
    /* opacity: 0;
    transform: translateY(550px);
    transition: opacity 1s, transform 1s; */
}

/* .project-section.active {
    opacity: 1;
    transform: translateY(10px);
} */

.project-header h1 {
    color: black;
    text-align: center;
}

.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-active {
    height: 60px;
    background-color: rgba(75, 97, 48, 0.99);
    transition: background-color, height 0.4s ease;
    z-index: 1000;
}

.cards {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    width: 50%;
    height: 550px;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 2px 2px 30px rgb(0, 0, 0);
}

.card h4 {
    text-align: center;
}

.card h4, i:hover {
    text-align: center;
}

.link{
    font-size: 20px;
    color:black;
}

.link:hover{
    color:rgb(70, 70, 70);
}

.card-text {
    padding: 10px;
    text-align: center;
}

.card img {
    border-radius: 7px;
    margin-bottom: 10px;
}

.card img:hover {
    transition: border 0.5s ease;
    transform: scale3d(1.25, 1.25, 2.2);
    transition: transform 1s ease;
}

/* .card:hover p{
    transform: scale3d(1.1, 1.1, 2.2);
    transition: transform 0.5s ease; 
} */

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 200px;
    width: 100vw;
    padding: 40px;
}

.github {
    font-size: 30px;
    width: 65px;
}

.github:hover::before {
    content: "\f09b";
    cursor: pointer;
    /* transition: all .5s; */
    /* font-size: 27px; */
}

.LinkedIn {
    font-size: 30px;
    width: 65px;
}

.LinkedIn:hover::before {
    content: "\f0e1";
    cursor: pointer;
    font-size: 27px;
    /* color: rgb(11, 86, 200);
    transition: color .5s; */
}

.twitter {
    font-size: 30px;
    width: 65px;
}

.twitter:hover::before {
    content: "\e61b";
    cursor: pointer;
    font-size: 27px;
    /* background-color: black; */
    /* color: white;
    transition: color .5s; */
}

.insta {
    font-size: 30px;
    width: 65px;
}

.insta:hover::before {
    content: "\f16d";
    cursor: pointer;
    /* color:rgb(181, 7, 169);
    transition: color .5s; */
}

.contactMe {
    text-align: center;
}

.contact-btn {
    padding: 7px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.contact-btn:hover {
    transform: scale3d(1.05, 1.05, 2);
    transition: transform .3s ease;
}

footer {
    color: white;
    /* font-size:25px;  */
    text-align: center;
    padding-bottom: 10px;
}

.logo-vid {
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (min-width:1700px){
    .first-section{
        height:1200px;
    }
}