@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Tourney:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Tourney:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* background-color:#000; */
}



.navbar {
    background-color: transparent;
    position: fixed;
    height: 50px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 70px;
    transition: background-color, height 0.2s ease;
    /* padding-top: 20px; */
    /* box-shadow: 0 0 5px 2px #888888; */
}

.navbar nav {
    display: flex;
    gap: 70px;
    font-size: 18px;
    color: white;
}

.navbar nav a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;

}

.navbar nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar nav a:hover::after {
    width: 100%;
}

.nav-active {
    height: 60px;
    background-color: rgba(75, 97, 48, 0.99);
    transition: background-color, height 0.4s ease;
    z-index: 1000;
}

.first-section {
    height: 710px;
    background-image: url(/assets/First-sectionwp.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.72);
}

/* .wallpaper {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
} */

.intro-left {
    /* background-color: rgba(0, 0, 0, 0.4); */
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Tourney', sans-serif;
    opacity: 0;
    transform: translateX(-800px);
    transition: opacity 1s, transform 1s;
}

.intro-left.active {
    opacity: 1;
    transform: translateX(20px);
}


@keyframes bounce {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}

.button {
    margin-top: 30px;
    font-size: 80px;
    color: white;
    animation: bounce 2s infinite;
    cursor: pointer;
}

.name {
    font-size: 50px;
}

.name span {
    color: rgb(117, 168, 54);
}

.about-section {
    height: 660px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.about-flex {
    display: flex;
}

.about-text {
    margin: 70px;
    color: black;
    font-size: 17px;
}

.profile-pic {
    margin: 20px;
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 55px;
    font-family: 'Caveat', cursive;
}

#dynamic-text {
    border-right: 2px solid #000;
    padding-right: 5px;
    color: rgba(56, 95, 9, 0.97);
}

.project-section {
    height: auto;
    /* opacity: 0;
    transform: translateY(550px);
    transition: opacity 1s, transform 1s; */
}

/* .project-section.active {
    opacity: 1;
    transform: translateY(10px);
} */

.project-header h1 {
    color: black;
    text-align: center;
}

.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.cards {
    display: flex;
    gap: 250px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    width: 50%;
    height: 570px;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 2px 2px 30px rgb(0, 0, 0);
}

.card h3 {
    font-size:25px;
    text-align: center;
}

.link{
    font-size: 20px;
    color:black;
}

.link:hover{
    color:rgb(70, 70, 70);
}

.card-text {
    padding: 10px;
    text-align: center;
}

.card img {
    border-radius: 7px;
    margin-bottom: 10px;
    transform:scale3d(1, 1, 1);
    transition: transform 1s ease;
}

.card img:hover {
    transform: scale3d(1.3, 1.3, 2.2);
    transition: transform 1s ease;
}

.card video{
    transform:scale3d(1, 1, 1);
    transition: transform 1s ease;
}

.card video:hover {
    transform: scale3d(1.3, 1.3, 2.2);
    transition: transform 1s ease;
}

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:80px;
    background-color: rgb(35, 35, 35);
    color: white;
    height: 500px;
    width: 100vw;
    padding: 40px;
}

.contact-form{
    flex-basis:800px;
}

.divider{
    width:2px;
    height:90%;
    background-color:white;
}

.social{
    display:flex; 
    gap:40px;
}

.website{
    font-size:30px;
    cursor:pointer;
}

.github {
    font-size: 30px;
    cursor:pointer;
}

.LinkedIn {
    font-size: 30px;
    cursor:pointer;
}

.twitter {
    font-size: 30px;
    cursor:pointer;
}

.insta {
    font-size: 30px;
    cursor:pointer;
}

.logo-vid {
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (min-width:1700px){
    .first-section{
        height:1000px;
    }
    .about-section{
        height:1100px;
    }
    .card{
        height:650px;
    }
}
@media (max-width:400px){
    body{
        overflow-x:hidden !important;
    }
    .navbar{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .name{
        font-size: 40px;
    }
    .first-section{
        height:800px;
        width:100%;
    }
    #scroll-to-about{
        display:none;
    }
    .about-section{
        height:800px;
        width:100%;
        text-wrap: wrap;
        font-size: 20px;
    }
    .about-flex{
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
}